<%= content_for :sidebar do %>
<%= image_tag 'bwc', class: 'background-image' %>
<%= image_tag 'sol', class: 'icon' %>
<style type="text/css">

	nav {
		width: 100%;
		position: absolute;
		top: 0
	}

	.background-image {
		min-height: 100%;
		min-width: 100%;
		position: absolute
	}

	.icon {
    	margin-left: 690px;
    	margin-right: 470px;
    	margin-top: 375px;
    	z-index: 1; 
    	position:relative
	}

	nav ul {
		width: 200px;
		margin: 0 auto;
		margin-top: 330px;
	}

	li {
		list-style: none;
		font-family: 'Arial';
		margin-top: 100px;
		display: inline;
		padding: 10px;
	}

</style>
<nav>
	<ul>
		<li>
			<%= link_to "Sign Up", new_user_registration_path, class: 'links' %>
		</li>
		<li>
			<%= link_to "Login", new_user_session_path, class: 'links' %>
		</li>
	</ul>
</nav>

<% end %>
