<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<br />
<div></div>
<br />
<br />
<br />
<span><%= link_to "Add File", new_project_path, class: "btn btn-primary" %></span>
<span><%= link_to "Print", %x`lp -d Brother_MFC_9330CDW ~/Desktop/solicitor/public/uploads/project/attachment/10/3_Page_Writing_Sample.pdf`, class: "btn btn-primary" %></span>
<br />
<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><span>Download Link</span></th>
      <th><span>Delete File</span></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |p| %>
      <tr>
        
        <td><span><%= link_to p.attachment_url(@user) %></span></td>
        <td><span><%= link_to "Delete", p, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete this?" %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>


