<br />
<br />
<br />
<br />
<% if !@project.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well">
  <%= form_for @project, html: { multipart: true } do |f| %>
    
    <%= f.label :attachment %>
    <%= f.file_field :attachment %>
    <br />
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>