<!DOCTYPE html>
<html>
<head>
  <title>Solicitor</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= yield(:extra_js) %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <%= yield(:sidebar) %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<!-- 	   <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p> -->
       
<%= yield %>

</body>
</html>
